.marginAuto {
  margin: auto;
}

* {
  box-sizing: border-box;
}

.loginForm {
  width: 120px;
  height: 300px;
}

.user-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

textarea {
  background: center center no-repeat;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 5px;
}